{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{site_base}}/static/js/script.js"></script>
<script type="text/javascript" src="{{site_base}}/static/js/lightbox.js"></script>
<script>
  jQuery(document).ready(function(){
    jQuery('.menulist').toggle();
    jQuery('#hideshow').on('click', function(event) {
      event.preventDefault();
      jQuery('.menulist').toggle('hidde');
    });
  });
</script>
{% end %}

{% block css%}
    <link rel="stylesheet" href="{{ site_base }}/static/css/main.css">
    <link rel="stylesheet" href="{{ site_base }}/static/css/header.css">
    <link rel="stylesheet" href="{{ site_base }}/static/css/footer.css">
{% end %}
{% block body %}
    <div class="galeria-popup">
        <div class="container galeria-popup-cerrar-wrapper">
            <span class="galeria-popup-cerrar">X</span>
        </div>
        <div class="container galeria-popup-contenido">
            <img src="https://84static.loadingplay.com/static/images/a6f0c59508d8a8886e915f9661353e81_popupflecha.png" alt="Anterior" class="galeria-popup-flecha galeria-popup-flecha-activo galeria-popup-flecha-prev">
            <img src="" alt="Imagen" class="galeria-popup-img">
            <img src="https://84static.loadingplay.com/static/images/a6f0c59508d8a8886e915f9661353e81_popupflecha.png" alt="Siguiente" class="galeria-popup-flecha galeria-popup-flecha-activo galeria-popup-flecha-next">
        </div>
    </div>

    <section class="container galeria galeria-alt">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="galeria-titulo">{{ gallery.title }}</h3>
            </div>
            <div class="col-xs-12">
                {% for i in gallery.getImageList() %}
                  <div class="galeria-grupo galeria-grupo-tres col-md-4">
                    <div class="galeria-item galeria-item-trigger">
                        <img src="{{ i["thumb_500"] }}" alt="Imagen" class="galeria-item-img">
                    </div>
                  </div>
                {% end %}
            </div>
        </div>
    </section>

{% include ../home/footer.html %}
{% end %}